{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shows/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Serapis - Authentic Rock Music{% endblock %}</title>

    {% load django_simple_bulma %}
    {% bulma %}
    {% font_awesome %}

    <script src="{% static 'shows/index.js' %}"></script>

      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>

  <nav class="navbar is-dark">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'shows:index' %}">
        serapis
      </a>

      <div class="navbar-burger burger" data-target="SerapisNav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="SerapisNav" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'shows:index' %}">Home</a>
        <a class="navbar-item" href="{% url 'shows:showdates' %}">Shows</a>
        <a class="navbar-item" href="{% url 'shows:music' %}">Music</a>
        <a class="navbar-item" href="{% url 'shows:photos' %}">Photos</a>
        <a class="navbar-item" href="https://share.hsforms.com/1q0Vawob-R7CppEQRgqWQ5wboszw">Email Updates</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <!-- Contact button -->
            <p class="control">
              <a class="bd-tw-button button is-black" href="mailto:serapisstl@gmail.com">
                <span class="icon">
                  <i class="fas fa-paper-plane">
                  </i>
                </span>
                <span>Contact</span>
              </a>
            </p>
            <!-- Listen button -->
            <p class="control">
              <a class="button is-primary" target="blank" href="https://open.spotify.com/artist/709uhn8APzrj4k4RuuhLZH?si=XsOXt_eRSWOReEcFxnD_Tw">
                <span class="icon">
                  <i class="fab fa-spotify">
                  </i> </span>
                <span>Listen</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% block main %}

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="V6ut2pC6"></script>

  <section class="section">
    <div class="container is-fullhd">
        <img src="{% static 'shows/images/homebanner1.png' %}"/>
    </div>
      <h1 class="has-text-centered is-size-1 has-text-white has-text-weight-semibold">Serapis</h1>
      
    <div class="container is-fullhd">
      <div class="columns">

        <!-- upcoming shows -->
        <div class="column">
          <h1 class="title has-text-white">Next Show</h1>
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-parent">
              {% for show in show_list %}
              <article class="tile is-child box has-background-warning has-text-info show-items">
                <span class="is-size-3 show-text">
                  {{show.venue}}</span>
                  <br/>
                <span class="is-size-5 show-text">
                  {{show.city}}</span>
                <span class="is-size-5 show-text">
                  {{show.show_date|date:"l M j"}}</span>
                <span class="is-size-5 show-text">
                  {{show.show_date|time:"P"}}</span>
              </article>
              {% endfor %}
            </div>
          </div>
          <a href="{% url 'shows:showdates' %}"><button class="shows-button">More Shows</button></a>
        </div>


        <div class="column is-half">
          {% for text in home_text %}
          <p class="is-size-6 has-margin-left-40 has-margin-right-40 has-padding-bottom-10 has-text-white">
            {{ text.text }}
          </p>
          <br/>
          {% endfor %}
          <div class="has-text-centered">
            <img class="mummy" src="{% static 'shows/images/mummy.jpg' %}"/>
          </div>
        </div>

        <div class="column">
          <div class="fb-page" data-href="https://www.facebook.com/SerapisStL" data-tabs="timeline, events" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/SerapisStL" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SerapisStL">Serapis</a></blockquote></div>
        </div>

      </div>
    </div>
  </section>

  <!-- listen online buttons -->

  <div class="listen-online container">
    <h1 class="title has-text-white has-text-centered">Listen Online</h1>
    <div class="columns has-text-centered is-flex is-flex-wrap-wrap">

      <!-- spotify -->
      <div class="column"><a href="https://open.spotify.com/artist/709uhn8APzrj4k4RuuhLZH?si=y4z2RPPnRc6uJS1rzmwKpg"><button class="spotify-button"><i class="fab fa-spotify"></i> Spotify</button></a></div>

      <!-- apple music -->
      <div class="column"><a href="https://music.apple.com/us/artist/serapis/1498281669"><button class="apple-button"><i class="fas fa-music"></i> Apple Music</button></a></div>

      <!-- youtube music -->
      <div class="column"><a href="https://music.youtube.com/channel/UC2rD-Y4w7eGdrAcm34uY1Sw"><button class="youtube-button"><i class="far fa-play-circle"></i> YouTube Music</button></a></div>

      <!-- iheartradio -->
      <div class="column"><a href="https://www.iheart.com/artist/serapis-276196/"><button class="iheart-button"><i class="fas fa-heart"></i> iHeartRadio</button></a></div>

    </div>
    </div>
  
    <div class="listen-mobile container">
      <h1 class="title has-text-white has-text-centered">Listen Online</h1>
  
        <!-- spotify -->
        <a class="mb-2" href="https://open.spotify.com/artist/709uhn8APzrj4k4RuuhLZH?si=y4z2RPPnRc6uJS1rzmwKpg"><button class="spotify-button"><i class="fab fa-spotify"></i> Spotify</button></a>
  
        <!-- apple music -->
        <a class="mb-2" href="https://music.apple.com/us/artist/serapis/1498281669"><button class="apple-button"><i class="fas fa-music"></i> Apple Music</button></a>
  
        <!-- youtube music -->
       <a class="mb-2" href="https://music.youtube.com/channel/UC2rD-Y4w7eGdrAcm34uY1Sw"><button class="youtube-button"><i class="far fa-play-circle"></i> YouTube Music</button></a>
  
        <!-- iheartradio -->
        <a class="mb-2" href="https://www.iheart.com/artist/serapis-276196/"><button class="iheart-button"><i class="fas fa-heart"></i> iHeartRadio</button></a>
  
      </div>

  <section class="section">
    <div class="columns">

      <!-- latest song -- soundcloud -->

      <div class="column">
        <h1 class="has-text-centered has-text-white is-size-3">Latest Tune</h1>

        <!-- change code below -->

        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/948172423&color=%23efcb74&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/serapis-authentic-rock" title="Serapis - Authentic Rock" target="_blank" style="color: #cccccc; text-decoration: none;">Serapis - Authentic Rock</a> · <a href="https://soundcloud.com/serapis-authentic-rock/all-over-the-world-pandemo" title="All Over The World PanDemo" target="_blank" style="color: #cccccc; text-decoration: none;">All Over The World PanDemo</a></div>

      </div>

      <!-- youtube video -->
      <div class="column latest-video">
        <h1 class="has-text-centered has-text-white is-size-3">Latest Video</h1>

        {% for video in latest_video %}

        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='{{ video.url }}' frameborder='0' allowfullscreen></iframe></div>

        {% endfor %}

      </div>


    </div>

  </section>

<!-- Members -->
<h1 class="title has-text-centered has-text-white">Serapis is...</h1>

<div class="tile is-ancestor">
  {% for member in members %}
  <div class="tile is-parent">

    <div class="tile is-child box">
      <figure class="image member-photo">
        <img src="media/{{ MEDIA_URL }}{{ member.photo }}" />
      </figure>
      <p class="title is-4">
        {{ member.name }}
      </p>
      <p class="subtitle is-5">
        {{ member.description }}
      </p>

    </div>

  </div>

  {% endfor %}

</div>

  {% endblock %}

</body>

</html>