{% extends 'shows/index.html' %}
{% load static %}
{% static 'shows/styles.css' %}

{% block title %}Serapis - Photos{% endblock %}

<body>
    {% block main %}

<div class="container">
    <div class="wrapper">
            {% for photo in photos %}

            <div class="photo">
                <a target="_blank" href="media/{{ MEDIA_URL }}{{ photo.upload }}">
                    <img class="thumb" src="media/{{ MEDIA_URL }}{{ photo.upload }}" />
                </a>
                <h4 class="has-text-white">{{photo.caption}}</h4>
            </div>

            {% endfor %}
        </div>
</div>
    {% endblock %}
</body>