html {
  background-color: #000000;
}

section {
    flex-wrap: wrap;
    font-family: "Open Sans", sans-serif;
  }
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Inconsolata", monospace;
  }
  
p, a {
    font-family: "Open Sans", sans-serif;
  }
  
.show-text {
    text-align: justify;
    padding: 4px;
  }

.thumb {
  height: 150px;
}

.shows-button {
  border: none;
  background-color: #81968f;
  padding: 5%;
  font-size: 22px;
  border-radius: 10px;
}

.shows-button:hover {
  background-color: #96bdc6;
}

.gallery {
  width: 90%;
  text-align: center;
}

.photo {
  display: inline-block;
  padding: 20px;
}

.caption {
  background-color: #ffffff;
}

.spotify-button {
  background-color: #1DB954;
}

.apple-button {
  background-color: #fa57c1;
}

.youtube-button {
  background-color: #ff0000;
}

.listen-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .listen-online {
    display: none;
  }
  .listen-mobile {
    display: flex;
  }
}

.spotify-button, .apple-button, .youtube-button, .iheart-button {
  border: none;
  padding: 5%;
  font-size: 22px;
  border-radius: 10px;
}

.spotify-button:hover, .apple-button:hover, .youtube-button:hover, .iheart-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.mummy {
  width: 30%;
}
