section {
    flex-wrap: wrap;
    font-family: "Open Sans", sans-serif;
  }
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Inconsolata", monospace;
  }
  
p, a {
    font-family: "Open Sans", sans-serif;
  }
  
.show-text {
    text-align: justify;
    padding: 4px;
  }

.thumb {
  height: 150px;
}

body {
  background-color: #000000;
}